/* ===== Base ===== */
body {
  background-color: var(--color-background-1);
  color: var(--color-text-1);
}

.hishigata {
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

/* test*/